# 特殊
user.json
signature_*

# 忽略路径
__pycache__/
backup/
.cache
env/
.venv/
imagePlaceholders/
build/
# .vscode/
lib/*
!lib/Material/
lib/Material/*
!lib/Material/Karma/


# 忽略格式
*.rat
*.c
*.html
!md_index.html 


# baiduyun
*.cfg
