# 特殊
# signature_*

# 忽略路径
__pycache__/
backup/
.cache
env/
.venv/

# lib/ - 只跟踪 SB_ 开头的文件夹
lib/*/*/
lib/Material/*/
!lib/Material/SB_*/
lib/recipe/*/
!lib/recipe/SB_*/

#vscode
# .vscode/*

# 忽略格式
.cache
*.rat

# baiduyun
*.cfg

# 用户配置文件
conf/*
!conf/flipbook.json
!conf/public_key.pem

# cladue
CLAUDE.md
.claude/